<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Project 2</title>
  <%- include ./partials/_stylesheets %>
</head>
<body>
  <div class="container hero">
    <div class="overlay">
    </div>
    <header class="row main-header">
    </header>
  </div>
  <%- include ./partials/_navbar %>
  <% if(!locals.isHomepage) { %><% } %>
  <%- body %>
  <% if(!locals.isHomepage) { %><% } %>
  <%- include ./partials/_scripts %>
</body>
</html>
