<h2>New Creations</h2>
<div class="container">
  <form method="POST" action="/creations">
    <div class="form-group row">
      <label for="example-text-input" class="col-2 col-form-label">Artist</label>
      <div class="col-10">
        <input class="form-control" name="artist" type="text" placeholder="Wuskerski" id="example-text-input">
      </div>
    </div>
    <div class="form-group row">
      <label for="example-text-input" class="col-2 col-form-label">Location</label>
      <div class="col-10">
        <input class="form-control" name="location" type="text" placeholder="Shoreditch" id="example-text-input">
      </div>
    </div>
    <div class="form-group row">
      <label for="example-url-input" class="col-2 col-form-label">Image URL</label>
      <div class="col-10">
        <input class="form-control" name="image" type="url" placeholder="https://i.imgur.com/obnfkgGb.jpg" id="example-url-input">
      </div>
    </div>
    <div class="form-group row">
      <label for="example-text-input" class="col-2 col-form-label">Description</label>
      <div class="col-10">
        <input class="form-control" name="caption" type="text" placeholder="Woman Bloody nose" id="example-text-input">
      </div>
    </div>
    <button class="btn btn-primary">Submit</button>
  </form>
</div>
