h5.title.gallery{
  bottom:12%;
  left:8%;
  width:45%;
  &:hover{
    background-color: $hover;
  }
}

.comment {
  font-size: 28px;
  font-family: $stencil;

}

.title.show{
  bottom:8%;
  &:hover{
    box-shadow: $hover;
  }
}
.btn-small.btn-delete{
  width:30px;
  height: 30px;
  border-radius: 50%;
}

.featured.new{
  width:38%;
}
.photos-container{
  padding-bottom: 30px;
}
div.container.newphotos{
  height: 1009px;
}
